html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  background: -webkit-linear-gradient(63deg, #151515 5px, transparent 5px) 0 5px,
              -webkit-linear-gradient(243deg, #151515 5px, transparent 5px) 10px 0px,
              -webkit-linear-gradient(63deg, #222 5px, transparent 5px) 0px 10px,
              -webkit-linear-gradient(243deg, #222 5px, transparent 5px) 10px 5px,
              -webkit-linear-gradient(0deg, #1b1b1b 10px, transparent 10px),
              -webkit-linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background: -moz-linear-gradient(63deg, #151515 5px, transparent 5px) 0 5px,
              -moz-linear-gradient(243deg, #151515 5px, transparent 5px) 10px 0px,
              -moz-linear-gradient(63deg, #222 5px, transparent 5px) 0px 10px,
              -moz-linear-gradient(243deg, #222 5px, transparent 5px) 10px 5px,
              -moz-linear-gradient(0deg, #1b1b1b 10px, transparent 10px),
              -moz-linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
              linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
              linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
              linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
              linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
              linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-size: 20px 20px;
  background-color: #131313;
}
.card {
  background: rgba(100,100,100,.3);
  border-radius: 10px;
  /*box-shadow: 0 -1px 0 rgba(150,150,150,.2);*/
  color: #bbb;
  padding: 10px;
  position: relative;
  left: 50px;
  min-height: 120px;
  top: 40%;
  width: 400px;
}
.username {
  background: transparent;
  border: none;
  box-sizing: border-box;
  color: #bbb;
  font-family: monospace;
  font-size: 24px;
  font-weight: bold;
  outline: none;
  width: 100%;
}
.password {
  background: rgba(10,10,10,.6);
  border: none;
  border-radius: 5px;
  bottom: 10px;
  box-sizing: border-box;
  color: #bbb;
  font-family: monospace;
  font-size: 24px;
  font-weight: bold;
  height: 50px;
  left: 10px;
  outline: none;
  padding: 10px;
  position: absolute;
  width: calc(100% - 20px);
}
