<div ng-include="'templates/navbar.html'"></div>
<div class="container-fluid full-height logs-container" style="padding-top:41px;">
  <div class="row date-selection">
    <div class="col-xs-12 col-md-offset-1 col-md-10">Select a log period:</div>
    <div class="col-xs-12 col-sm-5 col-md-offset-1 col-md-4">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Start date</span>
        <input ng-model="startDate" type="date" class="form-control" aria-describedby="basic-addon1">
      </div>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-4">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon2" style="padding:6px 16px 6px 17px;">End date</span>
        <input ng-model="endDate" type="date" class="form-control" aria-describedby="basic-addon2">
      </div>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2">
      <button ng-click="loadAppLogStats();" type="button" class="btn btn-primary btn-block">Get Stats</button>
    </div>
  </div>
  <div class="row msg-row" style="display:none;">
    <div class="col-xs-12 col-md-offset-1 col-md-10">
      <div class="alert alert-danger" role="alert">
        <button ng-click="hideMsg();"type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="msg">This is an alert!</span>
      </div>
    </div>
  </div>
  <div class="row result-row" style="display:none;">
    <div class="col-xs-12 col-md-offset-1 col-md-10">
      <div class="panel panel-primary">
        <div class="panel-heading pos-rel">
          <span class="glyphicon glyphicon-stats"></span> Application Log Stats
          <button ng-click="exportStats();" type="button" class="btn btn-warning btn-sm pull-right pos-abs" title="Export Stats" style="right:5px;top:5px;"><span class="glyphicon glyphicon-export"></span> Export</button>
        </div>
        <div class="panel-body">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Category</th>
                <th>Count</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td >Apps Downloaded</td>
                <td class="app-download-count" style="width:20%;">NA</td>
              </tr>
              <tr>
                <td>Logins</td>
                <td class="login-count">NA</td>
              </tr>
              <tr>
                <td>Files Downloaded</td>
                <td class="files-download-count">NA</td>
              </tr>
              <tr>
                <td>Video Calls</td>
                <td class="video-calls-count">NA</td>
              </tr>
              <tr>
                <td>Annotation Calls</td>
                <td class="annotation-calls-count">NA</td>
              </tr>
              <tr>
                <td>Messages</td>
                <td class="messages-count">NA</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
