<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#appNavCollapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand fa-logo" href="#!home"></a>
      <span style="color:#fff;font-size:15px;display:inline-block;margin-top:10px;font-weight:bold;">Admin Portal</span>
    </div>
    <div class="collapse navbar-collapse padding-none" id="appNavCollapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#!logs">Logs</a></li>
        <li><a href="#!users">Users</a></li>
        <li><a href="#!library">Library</a></li>
        <li><a><span>{{user.name || 'User'}}</span> &nbsp;<span class="glyphicon glyphicon-user"></span></a></li>
        <li><a ng-click="logout();" title="Logout"><span class="glyphicon glyphicon-log-out"></span></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
