<div class="container-fluid full-height">
  <div class="row full-height">
    <div class="col-xs-12 full-height display-flex">
      <div class="text-center" style="margin:170px auto auto;">
        <img src="static/img/fa.png" alt="">
        <h2 class="text-center" style="color:#eee;font-weight:bold;margin-top:0;">Welcome to GSMC Field Assist</h2>
        <div>
          <button type="button" class="btn btn-primary" ng-click="redirectRouteTo('login');">Login</button>
        </div>
      </div>
    </div>
  </div>
</div>
